<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
%config Completer.use_jedi = False
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
# You code here
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
# You code here
data.loc[data['sex'] == 'Female', ['age']].mean()

age    36.85823
dtype: float64

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
# You code here
data['native-country'].value_counts(normalize=True)[['Germany']] * 100

Germany    0.420749
Name: native-country, dtype: float64

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?**

In [6]:
# You code here
#average age for those who earn less than 50k per year
print('Salary types:', data['salary'].unique())
print('')
data.groupby(['salary'])['age'].agg([np.mean, np.std])

Salary types: ['<=50K' '>50K']

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
HIGHER_EDUCATION = np.array(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])
education_for_sal_more_than_50k = data.loc[data['salary'] == '>50K', 'education'].unique()
any_non_higher_education = np.setdiff1d(education_for_sal_more_than_50k, HIGHER_EDUCATION)
print('List of non high education for people who earn more than 50k:', any_non_higher_education)
print('Are all people who earn more than 50K have high school education:', len(any_non_higher_education) == 0)

List of non high education for people who earn more than 50k: ['10th' '11th' '12th' '1st-4th' '5th-6th' '7th-8th' '9th' 'HS-grad'
 'Some-college']
Are all people who earn more than 50K have high school education: False

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
# You code here
#show age statistics for race feature
sex_race_statistics = data.groupby(['sex','race'])['age'].describe()
display(sex_race_statistics)
amer_indian_men_max_age = sex_race_statistics.loc[('Male', 'Amer-Indian-Eskimo'), 'max']
print('')
print('Maximum age of men of Amer-Indian-Eskimo race:', amer_indian_men_max_age)

                             count       mean        std   min   25%   50%  \
sex    race
Female Amer-Indian-Eskimo    119.0  37.117647  13.114991  17.0  27.0  36.0
       Asian-Pac-Islander    346.0  35.089595  12.300845  17.0  25.0  33.0
       Black                1555.0  37.854019  12.637197  17.0  28.0  37.0
       Other                 109.0  31.678899  11.631599  17.0  23.0  29.0
       White                8642.0  36.811618  14.329093  17.0  25.0  35.0
Male   Amer-Indian-Eskimo    192.0  37.208333  12.049563  17.0  28.0  35.0
       Asian-Pac-Islander    693.0  39.073593  12.883944  18.0  29.0  37.0
       Black                1569.0  37.682600  12.882612  17.0  27.0  36.0
       Other                 162.0  34.654321  11.355531  17.0  26.0  32.0
       White               19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
sex    race
Female Amer-Indian-Eskimo  46.00  80.0
       Asian-Pac-Islander  43.75  75.0
       Black               46.00  90.0
       Other               39.00  74.0
       White               46.00  90.0
Male   Amer-Indian-Eskimo  45.00  82.0
       Asian-Pac-Islander  46.00  90.0
       Black               46.00  90.0
       Other               42.00  77.0
       White               49.00  90.0

Maximum age of men of Amer-Indian-Eskimo race: 82.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [9]:
data.shape

(32561, 15)

In [10]:
# You code here
print('Martial status types:', data['marital-status'].unique())
print('')
print('Martial status distribution for those who earn more than 50K:')
data['is_married'] = data['marital-status'].apply(lambda status: 'married' if status.startswith('Married') else 'bachelor' )
data.loc[data['salary'] == '>50K', 'is_married'].value_counts(normalize = True)
data.loc[(data['salary'] == '>50K') & (data['sex'] == 'Male'), 'is_married'].value_counts(normalize = True)

Martial status types: ['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']

Martial status distribution for those who earn more than 50K:

married     0.895377
bachelor    0.104623
Name: is_married, dtype: float64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [11]:
# You code here
max_hours = data['hours-per-week'].max()
total_people_amt = data.loc[data['hours-per-week'] == max_hours].shape[0]
pct_people_who_earn_a_lot = data.loc[data['hours-per-week'] == max_hours, 'salary'].\
                                value_counts(normalize = True)['>50K']
print('Maximum hours per week:', max_hours)
print('Amount of people who work maximum hours:', total_people_amt)
print(f'Pct of people with maximum hours and high sallary: {pct_people_who_earn_a_lot:.2%}')

Maximum hours per week: 99
Amount of people who work maximum hours: 85
Pct of people with maximum hours and high sallary: 29.41%

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [12]:
# You code here
avg_hours_per_week = data.pivot_table(index = ['native-country'], columns = ['salary'], values = ['hours-per-week'], aggfunc = 'mean')
display(avg_hours_per_week)
print('')
print('Japan average hours-per-week:')
display(avg_hours_per_week.loc[['Japan'],:])

                           hours-per-week
salary                              <=50K       >50K
native-country
?                               40.164760  45.547945
Cambodia                        41.416667  40.000000
Canada                          37.914634  45.641026
China                           37.381818  38.900000
Columbia                        38.684211  50.000000
Cuba                            37.985714  42.440000
Dominican-Republic              42.338235  47.000000
Ecuador                         38.041667  48.750000
El-Salvador                     36.030928  45.000000
England                         40.483333  44.533333
France                          41.058824  50.750000
Germany                         39.139785  44.977273
Greece                          41.809524  50.625000
Guatemala                       39.360656  36.666667
Haiti                           36.325000  42.750000
Holand-Netherlands              40.000000        NaN
Honduras                        34.333333  60.000000
Hong                            39.142857  45.000000
Hungary                         31.300000  50.000000
India                           38.233333  46.475000
Iran                            41.440000  47.500000
Ireland                         40.947368  48.000000
Italy                           39.625000  45.400000
Jamaica                         38.239437  41.100000
Japan                           41.000000  47.958333
Laos                            40.375000  40.000000
Mexico                          40.003279  46.575758
Nicaragua                       36.093750  37.500000
Outlying-US(Guam-USVI-etc)      41.857143        NaN
Peru                            35.068966  40.000000
Philippines                     38.065693  43.032787
Poland                          38.166667  39.000000
Portugal                        41.939394  41.500000
Puerto-Rico                     38.470588  39.416667
Scotland                        39.444444  46.666667
South                           40.156250  51.437500
Taiwan                          33.774194  46.800000
Thailand                        42.866667  58.333333
Trinadad&Tobago                 37.058824  40.000000
United-States                   38.799127  45.505369
Vietnam                         37.193548  39.200000
Yugoslavia                      41.600000  49.500000

Japan average hours-per-week:

               hours-per-week
salary                  <=50K       >50K
native-country
Japan                    41.0  47.958333